<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:fragment="TitlePage">Tạo thể loại</title>
    <style th:replace="/common/_Head_tag"></style>
  </head>
  <body>
    <!-- header-->
    <header th:replace="common/_Header_admin"></header>

    <div class="content">
      <div class="page-inner">
        <!-- breadcrumbs -->
        <div class="page-header">
          <ul class="breadcrumbs">
            <li class="nav-home">
              <a href="/admin">
                <i class="flaticon-home"></i>
              </a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <a href="/admin/categories">Loại sản phẩm</a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <a href="">Tạo thể loại</a>
            </li>
          </ul>
        </div>
        <!-- end breadcrumbs -->

        <!-- body-->

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Tạo thể loại</h4>
              </div>
              <!-- content body -->
              <div class="card-body">
                <form
                  action="/admin/categories/add"
                  method="post"
                  th:object="${category}"
                >
                <div class="form-group">
                  <label for="name_c">Tên loại</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name_c"
                    placeholder="Nhập tên loại"
                    th:field="*{name}"
                  />
                </div>
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Ảnh đại diện</label>
                    <input
                      type="file"
                      class="form-control-file"
                      id="exampleFormControlFile1"
                      th:field="*{image}"
                    />
                  </div>
                  <hr />
                  <button class="btn btn-info" type="submit">Lưu</button>
                </form>
              </div>
              <!-- end content body -->
            </div>
          </div>
        </div>
        <!-- End body -->
      </div>
    </div>

    <!-- footer-->
    <footer th:replace="common/_footer_admin"></footer>
  </body>
</html>
