<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Category</title>
  </head>
  <body>
    <h1>Edit Category</h1>
    <form action="/admin/categories/edit/{id}" method="post" th:object="${category}">
      <input type="hidden" th:field="*{id}" />
      <label>Name: <input type="text" th:field="*{name}" /></label><br />
      <label>Image: <input type="text" th:field="*{image}" /></label><br />
      <label>Is Delete: <input type="checkbox" th:field="*{isDelete}" /></label
      ><br />
      <button type="submit">Update Category</button>
    </form>
  </body>
</html>
