<!-- Phân trang -->
    <div class="pagination">
      <ul>
          <li th:class="${currentPage == 1 ? 'disabled' : ''}">
              <a th:href="@{/admin/categories?page=1}"><<</a>
          </li>
          <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
              <a th:href="@{/admin/categories?page=} + ${pageNumber}" th:text="${pageNumber}"></a>
          </li>
          <li th:class="${currentPage == totalPages ? 'disabled' : ''}">
              <a th:href="@{/admin/categories?page=} + ${totalPages}">>></a>
          </li>
      </ul>
  </div>
  