<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="../../static/client/css/createAccount.css">

</head>

<body>
    <header>
        <!-- Header content here -->
    </header>
    <div class="header">
        <div class="header-main">
            <h1>Create Account</h1>
            <div class="header-bottom">
                <div class="header-right w3agile">
                    <div class="header-left-bottom agileinfo">
                        <form action="#" method="post">
                            <input type="text" value="User name" name="name" onfocus="this.value = '';"
                                onblur="if (this.value == '') {this.value = 'User name';}" />
                            <input type="text" value="Email" name="name" onfocus="this.value = '';"
                                onblur="if (this.value == '') {this.value = 'Email';}" />
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                                name="pswd" required>

                                <input type="password" class="form-control" id="pwd" placeholder="Enter the password" name="pswd" required>


                            <div class="remember">
                                <span class="checkbox1">
                                    <input type="checkbox" name="" id="remember" checked>
                                    <label for="remember">Remember me</label>
                                </span>
                                <div class="forgot">
                                    <h6><a href="./login.html">Bạn đã có tài khoản?</a></h6>
                                </div>
                            </div>
                            <div class="form-group btn-container">
                                <button type="submit">Create Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <!-- Footer content here -->
    </footer>
</body>

</html>