<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${product.name}"></title>
    <style th:replace="/common/_Head_tag_client"></style>
</head>
<body>
    <header  th:replace="common/_Header_Client"></header>

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                          <i class="fa fa-bars"></i>
                          <span>Tất cả danh mục</span>
                        </div>
                        <ul>
                          <li th:each="category : ${categories}"><a th:href="@{/{path}(path=${category.path})}">[[${category.name}]]</a></li>
                          <li><a href="/khuyen-mai">Khuyến Mãi</a></li>
                          <li><a href="/tin-tuc">Tin Tức</a></li>
                          <li><a href="/lien-he">Liên Hệ</a></li>
                          <li><a href="#"></a></li>
                          <li><a href="#"> </a></li>
                        </ul>
                      </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="/search/product" method="GET">
                                <div class="hero__search__categories">
                                  Tìm kiếm
                                  <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" name="keyword" placeholder="Bạn tìm sản phẩm gì?" required autocomplete="off"/>
                                <button type="submit" class="site-btn">TÌM</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                          <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                          </div>
                          <div class="hero__search__phone__text">
                            <a href="tel:0981198781"><h5>098 119 8781</h5></a>
                            <span>Hỗ trợ 24/7</span>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="../../client/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 th:text="${product.name}"></h2>
                        <div class="breadcrumb__option">
                            <a href="/">Trang chủ</a>
                            <a th:href="@{/{path}(path=${categoryDetail.path})}" th:text="${categoryDetail.name}"></a>
                            <span th:text="${product.name}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                th:src="'/uploads/' + ${mainImage.path}" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img th:each="img : ${image}" th:data-imgbigurl="'/uploads/' + ${img.path}"
                                th:src="'/uploads/' + ${img.path}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3 th:text="${product.name}"></h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">[[${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}]]đ</div>
                        <p th:text="${product.description}"></p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" id="quantity-product" value="1">
                                  </div>
                                </div>
                            </div>
                         <input type="hidden" id="id-product" th:value="${product.id}">
                        <button class="primary-btn add-to-cart-btn-detail">THÊM VÀO GIỎ</button>
                        <ul>
                            <li><b>Mã sản phẩm</b> <span>[[${product.code}]]</span></li>
                            <li><b>Chất liệu</b> <span th:text="${product.material}"></span></li>
                            <li><b>Kích thước</b> <span >[[${product.size}]]</span></li>
                            <li><b>Tồn kho</b> <span>[[${product.stock}]]</span></li>
                            <li><b>Chia sẻ</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Mô tả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">Đánh giá <span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                              <div class="product__details__tab__desc">
                                <!-- Sử dụng div để hiển thị nội dung được định dạng từ CKEditor -->
                                <div th:utext="${product.content}"></div>
                              </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                              <div class="row">
                                <!-- User Reviews -->
            
                                <div class="col-lg-6 reviews_col">
                                  <div class="tab_title reviews_title">
                                    <h4>Reviews (2)</h4>
                                  </div>
            
                                  <!-- User Review -->
            
                                  <div
                                    class="user_review_container d-flex flex-column flex-sm-row"
                                  >
                                    <div class="user">
                                      <div class="user_pic"></div>
                                      <div class="user_rating">
                                        <ul class="star_rating">
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="review">
                                      <div class="review_date">27 Aug 2016</div>
                                      <div class="user_name">Brandon William</div>
                                      <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua.
                                      </p>
                                    </div>
                                  </div>
            
                                  <!-- User Review -->
            
                                  <div
                                    class="user_review_container d-flex flex-column flex-sm-row"
                                  >
                                    <div class="user">
                                      <div class="user_pic"></div>
                                      <div class="user_rating">
                                        <ul class="star_rating">
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="review">
                                      <div class="review_date">27 Aug 2016</div>
                                      <div class="user_name">Brandon William</div>
                                      <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua.
                                      </p>
                                    </div>
                                  </div>
                                </div>
            
                                <!-- Add Review -->
            
                                <div class="col-lg-6 add_review_col">
                                  <div class="add_review">
                                    <form id="review_form" action="post">
                                      <div>
                                        <h1>Add Review</h1>
                                        <input
                                          id="review_name"
                                          class="form_input input_name"
                                          type="text"
                                          name="name"
                                          placeholder="Name*"
                                          required="required"
                                          data-error="Name is required."
                                        />
                                        <input
                                          id="review_email"
                                          class="form_input input_email"
                                          type="email"
                                          name="email"
                                          placeholder="Email*"
                                          required="required"
                                          data-error="Valid email is required."
                                        />
                                      </div>
                                      <div>
                                        <h1>Your Rating:</h1>
                                        <ul class="user_star_rating">
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                          </li>
                                        </ul>
                                        <textarea
                                          id="review_message"
                                          class="input_review"
                                          name="message"
                                          placeholder="Your Review"
                                          rows="4"
                                          required
                                          data-error="Please, leave us a review."
                                        ></textarea>
                                      </div>
                                      <div class="text-left text-sm-right">
                                        <button
                                          id="review_submit"
                                          type="submit"
                                          class="red_button review_submit_btn trans_300"
                                          value="Submit"
                                        >
                                          submit
                                        </button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Sản phẩm liên quan</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6" th:each="product_r : ${productRand}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="'/uploads/' + ${product_r.image}">
                            <ul class="product__item__pic__hover">
                              <li><a th:href="@{/san-pham/{path}(path=${product_r.path})}"><i class="fa fa-eye"></i></a></li>
                              <li><a th:href="@{/add-to-cart/{id}(id=${product_r.id})}"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a th:href="@{/san-pham/{path}(path=${product_r.path})}" th:text="${product_r.name}"></a></h6>
                            <h5>[[${#numbers.formatDecimal(product_r.price, 0, 'COMMA', 0, 'POINT')}]]đ</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer   th:replace="common/_footer_Client"></footer>
    <script>
      $(".add-to-cart-btn-detail").click(function() {
            var quantity = $("#quantity-product").val();
            var productId = $("#id-product").val();
            // console.log(quantity, productId);
            addToCart(productId, quantity);
       });
    </script>
    
</body>
</html>