<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:fragment="TitlePage">Chi tiết đơn hàng</title>
    <style th:replace="/common/_Head_tag"></style>
  </head>

  <body>
    <!-- header-->
    <header th:replace="common/_Header_admin"></header>

    <div class="content">
      <div class="page-inner">
        <!-- breadcrumbs -->
        <div class="page-header">
          <ul class="breadcrumbs">
            <li class="nav-home">
              <a href="/admin">
                <i class="flaticon-home"></i>
              </a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <a href="/admin/order">Đơn hàng</a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <span>Xem đơn hàng</span>
            </li>
          </ul>
        </div>
        <!-- end breadcrumbs -->

        <!-- body-->

        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Chi tiết đơn hàng</h4>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Sản phẩm</th>
                      <th>Mã sản phẩm</th>
                      <th>SL</th>
                      <th>Giá</th>
                      <th>Thành tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="detail : ${orderDetail}">
                      <td>
                        <img
                          th:src="'/uploads/' + ${detail['product_image']}"
                          alt="product image"
                          width="90"
                        />

                      </td>
                      <td><b th:text="${detail['product_name']}"></b></td>
                      <td th:text="${detail['product_code']}"></td>
                      <td th:text="${detail['quantity']}"></td>
                      <td>[[${#numbers.formatDecimal(detail.price, 0, 'COMMA', 0, 'POINT')}]]đ</td>
                      <td>[[${#numbers.formatDecimal(detail.totalPrice, 0, 'COMMA', 0, 'POINT')}]]đ</td>
                    </tr>
                    <tr>
                      <td colspan="4"></td>
                      <td><h4>Tổng cộng:</h4></td>
                      <td><h4>[[${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'POINT')}]]đ</h4></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <form id="orderForm">
                  <input
                    type="hidden"
                    id="orderId"
                    name="orderId"
                    th:value="${order.id}"
                  />
                  <div class="form-check">
                    <label>Trạng thái đơn hàng</label><br />
                    <label
                      th:each="status : ${orderStatusList}"
                      class="form-radio-label"
                    >
                      <input
                        class="form-radio-input"
                        type="radio"
                        name="orderStatus"
                        th:value="${status}"
                        th:checked="${status == order.status}"
                      />
                      <span class="form-radio-sign" th:text="${status}"></span>
                    </label>
                  </div>
                  <div class="form-group">
                    <b>Hình thức thanh toán:</b>
                    <p
                      th:text="${order.paymentStatus ? 'Thanh toán qua VNPAY' : 'Giao & thu tiền tận nơi - COD'}"
                    ></p>
                  </div>
                  <button type="submit" class="btn btn-primary">Lưu</button>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <table class="table">
                  <tr>
                    <th>Mã đơn hàng</th>
                    <td th:text="${order.code}"></td>
                  </tr>
                  <tr>
                    <th>Họ tên</th>
                    <td th:text="${order.customerName}"></td>
                  </tr>
                  <tr>
                    <th>Điện thoại</th>
                    <td th:text="${order.shippingPhone}"></td>
                  </tr>
                  <tr>
                    <th>Địa chỉ</th>
                    <td th:text="${order.shippingAddress}"></td>
                  </tr>
                  <tr>
                    <th>Ngày đặt hàng</th>
                    <td th:text="${order.orderDate}"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- End body -->
      </div>
    </div>

    <!-- Modal  Delete-->
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Xóa đơn hàng</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Hủy
            </button>
            <button type="button" class="btn btn-danger">Xóa</button>
          </div>
        </div>
      </div>
    </div>
    <!--END Modal  Delete-->

    <footer th:replace="common/_footer_admin"></footer>
    <script>
      $(document).ready(function () {
        $("#orderForm").submit(function (e) {
          e.preventDefault(); // Ngăn chặn gửi form mặc định
          var formData = {
            id: $("#orderId").val(), // Đảm bảo cung cấp id đơn hàng
            status: $("input[name='orderStatus']:checked").val(), // Lấy giá trị trạng thái đã chọn
          };
          console.log(formData);
          // Gửi yêu cầu POST
          $.ajax({
            type: "POST",
            url: "/admin/order/edit",
            data: formData,
            success: function (data) {
              $.notify(
                {
                  message: "Đã lưu thành công!",
                },
                {
                  type: "success",
                  delay: 3000, // Thời gian hiển thị thông báo (3 giây)
                }
              );
              // Chuyển hướng sau khi hiển thị thông báo
              setTimeout(function () {
                window.location.href = "/admin/order";
              }, 3000); // Chờ 3 giây trước khi chuyển hướng
            },
            error: function (xhr, status, error) {
              $.notify(
                {
                  message: "Thất bại!",
                },
                {
                  type: "danger",
                  delay: 3000, // Thời gian hiển thị thông báo (3 giây)
                }
              );
            },
          });
        });
      });
    </script>
  </body>
</html>
